* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  padding: 0 2rem;
  margin: 20px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
}
.box1 {
  margin-top: 200px;
}
.box1 h1 {
  color: #07548a;
  font-size: 128px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.box1 p {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #07548a;
  margin: 10px;
}

.box2 img {
  /* width: 1064.8px; */
  max-width: 100%;
  margin: 554.5 0 0 187.6;
}
